body {
    background-color: #2A2A4A;
}

h2 {
    color: #FFFFFF;
    text-align: left;
}

table, td, tr, th {
    color: #FFFFFF;
    align-items: center;
}

hr {
    width: 100%;
}
