body {
    font-family: 'Cantarell', sans-serif;
    background-color: #1e1e1e;
    color: #dadada;
}

.Title {
    text-align: center;
}

.Timestamp {
    text-align: center;
}

fieldset {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    padding: 30px;
  }

  .ghost-input {
    display: block;
    font-weight:300;
    width: 100%;
    font-size: 25px;
    border:0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #dadada;
    background: #262626;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  .ghost-input:focus {
    border-bottom:1px solid #ddd;
  }

  .ghost-button {
    background-color: transparent;
    border:0.5px solid #dadada;
    padding:10px 30px; 
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #dadada;
    box-shadow: 5px 10px #262626;
  }

  .ghost-button:active {
    box-shadow: 2px 2.5px #dadada;
  }
  .ghost-button:hover {
    box-shadow: 2px 2.5px #dadada;
    background-color: #454545;
  }
