body {
    background-color: #000000;
}

h2 {
    color: #FFFFFF;
    text-align: left;
}

table, td, tr, th {
    color: #FFFFFF;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
}

hr {
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
}